---
layout: page
title: Stories
permalink: /stories/
sub_heading: (less common tricks described)
---
{% comment %}
Breadcrumb nav not showing up properly for a new category?  Check _data/slugs.yml.
{% endcomment %}

<ul>
  {% for story in site.categories['stories'] %}
    <li>
      <a href="{{ project.url | relative_url }}">
        <span class="publication_info">
          {% if story.date_begin and story.date_end %}
            {{ story.date_begin }} - {{ story.date_end }}
          {% else %}
            {{ story.date | date: "%Y-%m-%d" }}
          {% endif %}
        </span>
        <a href="{{ story.url | relative_url }}">{{ story.title }}</a>
        <span class="publication_info">
          {% if project.date_release %}
            (released {{ story.date_release | date: date_format }})
          {% endif %}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>

