#md_project_title {
	margin-top: 1em;
}
#md_project_title h1 {
	display: inline;
}
#md_project_title .publication_info {
	display: inline;
	margin-left: 1%;
}
#md_project_title hr {
	clear: both;
	margin-top: 0.55em;
	margin-bottom: 2%;
}
