---
layout: default
---
{% assign date_format = "%Y-%m-%d" %}
<div id="md_project_title">
  <h1>{{ page.title | escape }}</h1>
  <span class="publication_info">
    {% if page.date_begin and page.date_end %}
      {{ page.date_begin}} - {{ page.date_end }}
    {% else %}
      {{ page.date | date: date_format }}
    {% endif %}

    {% if page.date_release %}
      &nbsp;&nbsp;(released {{ page.date_release | date: date_format }})
    {% endif %}
  </span> <!-- /publication_info -->

  <hr/>
</div> <!-- /project_title -->

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <br/>

  <div class="post-content" itemprop="articleBody">
    {% if page.image_main %}
      <div class="post_pictures">
        <div class="post_pictures_main">
          <a href="{{ "/assets/images/" | relative_url }}{{ page.image_main }}">
            <img src="{{ "/assets/images/thumbs/" | relative_url }}{{ page.image_main }}"/>
          </a>
        </div> <!-- /post_pictures_main -->
        {% if page.images_sub %}
          <div class="post_pictures_sub">
            {% for i in page.images_sub %}
              <a href="{{ "/assets/images/" | relative_url }}{{ i }}">
                <img src="{{ "/assets/images/thumbs/" | relative_url }}{{ i }}"/>
              </a>
            {% endfor %}
          </div> <!-- /post_pictures_sub -->
        {% endif %}
      </div> <!-- /post_pictures -->
    {% endif %}
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
