{% extends "layout-main.html" %}
{% block nav_breadcrumbs %}
	<li class="current">Home</li>
{% endblock %}

{% block contents %}
	{# Stories #}
	{% if stories %}
		<h3><a href="{{ stories_path }}">Stories</a></h3>
		<p>
			{% for story in stories %}
				<span class="publication_info">{{ story.date }}</span> &nbsp; <a href="{{ stories_path ~ story.path }}">{{ story.title }}</a><br/>
			{% endfor %}
		</p>
	{% endif %}

	{% if stories and projects %}<hr/>{% endif %}

	{# Projects #}
	{% if projects %}
		<h3><a href="{{ projects_path }}">Projects</a></h3>
		<p>
			{% for proj in projects %}
				<span class="publication_info">{{ proj.date_begin.split('-')[0] ~ ' - ' ~ proj.date_end.split('-')[0] }}</span> &nbsp; <a href="{{ projects_path ~ proj.path }}">{{ proj.title }}</a><br/>
			{% endfor %}
		</p>
	{% endif %}
	{% block story_summary %}{% endblock %}
{% endblock %}
