{% extends "layout-main.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='md_stories.css') }}"/>
{% endblock %}

{% block contents %}
	<div id="md_story_title">
		<h1>{% block story_title %}{% endblock %}</h1>
		<span class="publication_info">{% block publication_date %}{% endblock %}</span>
		<hr/>
	</div> <!-- /story_title -->
	<article>
		<div class="story_contents">{% block story_contents %}{% endblock %}</div>
	</article>
{% endblock %}
